*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}

.container{
    display: flex;
    position: relative;
    background-color: grey;
}

#quad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px,300px);
    column-gap: 10px;
    
}

img{
    width: auto;
    height: 80vh;
    object-fit: contain;
}